#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-background);

  > .Transition {
    flex: 1;
    overflow: hidden;
  }

  .ChatFolders {

    .chat-list {
      @media (min-width: 600px) {
        padding: 0;
        padding-inline: 0;
      }
    }

    .ListItem-button {
      @media (min-width: 600px) {
        border-radius: 0;
      }
    }

    height: 100%;

    @media (min-width: 600px) {
      display: grid;
    }

    &.no-folders {
      display: block;
    }

    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
      grid-template-rows: min-content 1fr;
      grid-template-columns: 5.25rem 1fr; // 5.27 = 4.5(height of chat) * 150/128(proportions from tgdesktop)
    }

    overflow: hidden;

    .Transition {
      contain: strict;
      grid-row: 3;

      @media (min-width: 600px) {
        grid-column: 2;
        grid-row: 2;
      }
    }

    .tabs-placeholder {
      height: 2.625rem;
      /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
      transition: height 150ms ease;

      &:not(.open) {
        height: 0;
      }
    }

    #StoryRibbon {
      grid-row: 1;

      @media (min-width: 600px) {
        grid-column: 2;
      }
    }

    .TabList {

      .emoji-wrapper {
        height: 100%;
        width: 100%;
      }

      .Spinner {
        --spinner-size: 2rem;
      }

      .StickerView-module__thumb {
        display: none !important;
      }

      .StickerView-module__media {
        left: 50%;
        translate: -50% 16%;
      }

      .icon {
        font-size: 2rem;

        &.as-emoji {
          line-height: normal;
          font-size: 1.625rem;
        }

        @media (max-width: 600px) {
          display: none;
        }
      }

      @media (min-width: 600px) {
        justify-content: flex-start;
      }
      border-bottom: 0;
      z-index: 1;

      opacity: 1;
      transition: opacity var(--layer-transition);

      padding-top: 0.5rem; // same as top-pad of the chat list
      grid-row: 2;

      @media (min-width: 600px) {
        grid-column: 1;
        grid-row: 2;
        flex-direction: column;

        height: 100%;
        overflow-y: scroll;
        overflow-x: auto;
        transition: inherit;
        padding: 1px 0 0 0;
        background-color: #212121;
      }
    }

    @media (min-width: 600px) {

      &.with-story-ribbon.open .TabList {
        transform: translateY(calc(var(--story-ribbon-height) * -1));
      }
    }

    @media (max-width: 600px) {
      &--tabs-hidden .TabList {
        pointer-events: none;
        opacity: 0.25;
      }
    }

    .Tab {
      flex: 0 0 auto;
      .tabIcon {
        display: none;
      }

      padding: 0.375rem;

      @media (min-width: 600px) {
        &-active {
          background-color: rgba(var(--color-text-secondary-rgb), 0.04);
        }

        .tabIcon {
          display: block;
        }

        .Tab_inner {
          flex-direction: column;
          width: 100%;
          justify-content: center;

          .tab-name {
            font-size: 0.6875rem;
            max-width: 100%;
            text-overflow: ellipsis;
          }
        }

        .badge {
          position: absolute;
          right: 0.6875rem;
          top: -0.125rem;
        }

        height: 4.5rem; // 0.5625 * 2 + 3.375 (avatar large size)
        border-radius: 0;
        width: 100%;

        .platform { display: none; }
      }
    }

    > .Transition {
      flex: 1;
      overflow: hidden;
    }
  }

  .RecentContacts,
  .LeftSearch,
  .search-content {
    height: 100%;
    overflow-y: auto;
  }

  .btn-update {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    white-space: nowrap;
  }
}
