.root {
  --emoji-size: 2.25rem;

  height: 100%;
  max-height: calc(100 * var(--vh));
  overflow: hidden;

  :global(.symbol-set-container) {
    --symbol-set-gap-size: 0.625rem;
  }
}

.activated {
  background-color: var(--color-interactive-element-hover);
}

.animatedSlide {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: top 0.3s ease, height 0.3s ease;
}

.SearchInput {
  border-radius: var(--border-radius-messages-small);
  margin-bottom: 0.5rem;
}

.categoriesEmojis {
  display: flex;
  align-items: center;
}

:global(.SymbolMenu) {

  .headerHide {
    top: -2.5rem;
  }

  .mainHide {
    top: -2.5rem;
    height: 100%;
  }
}

.emojiCategoryStripe {
  display: flex;
  align-items: center;

  &.activated {
    min-width: 10rem;
    background-color: var(--color-background-selected);
    & :global(.icon) {
      font-size: 1.4rem;

    }

  }
  & :global(.icon) {
    transition: font-size 0.2s ease;
  }

  &:hover {
    min-width: 18rem;
    background-color: var(--color-background-selected);
  }
  border-radius: 2rem;
  min-width: 2rem;
  height:min-content;
  overflow: hidden;
  &.animatedWidth {
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
    transition: min-width 0.2s ease, background-color 0.2s ease;
  }


  .symbolSetButton {
    padding: 0;
    margin: 0 !important;
    height: auto;

    &:hover {
      background-color: transparent !important;
    }
  }
}
