.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: var(--theme-background-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  :global(html.theme-light) &:not(.customBgImage)::before {
    background-image: url('../../assets/chat-bg-br.png');
  }

  &:not(.customBgImage).customBgColor::before {
    display: none;
  }

  &:not(.withPattern).customBgImage::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: center repeat;
    mix-blend-mode: initial;
    opacity: 1;
    background-size: cover !important;
  }
  &.customBgImage::before {
    background: var(--custom-background) center repeat !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light;
    opacity: 0.5;
  }

  :global(body:not(.no-page-transitions)) &.withTransition {
    transition: background-color 0.2s ease;

    &.customBgImage::before {
      transition: background-image 0.2s ease;
    }
  }

  &.draggable {
    -webkit-app-region: drag;
  }

  &.customBgImage.blurred::before {
    filter: blur(12px);
  }

  @media screen and (min-width: 1276px) {
    :global(body:not(.no-page-transitions)) &:not(.customBgImage)::before {
      overflow: hidden;
    }
  }

  &:not(.customBgImage):not(.customBgColor)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/chat-bg-pattern-light.png');
    background-position: top right;
    background-size: 510px auto;
    background-repeat: repeat;
    mix-blend-mode: overlay;

    :global(html.theme-dark) & {
      background-image: url('../../assets/chat-bg-pattern-dark.png');
      mix-blend-mode: unset;
    }
  }
}
